<<<<<<< HEAD
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}
=======
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  img{
    max-width: 100%;
  }
  
  a{
    color: currentColor;
    text-decoration: none;
  }
>>>>>>> 482b0535c1d047182c164bd751b194c3d3d17862
